@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h2 class="display-4">Discover insights and relationships in text</h2>

    <form method="post">
        <div class="form-group">
            <label for="Text">Text to analyze:</label>
            <textarea class="form-control" id="Text" name="Text" rows="5">@Model.Text</textarea>
        </div>
        <div class="form-group pt-3">
            <input type="submit" class="btn btn-primary" asp-page-handler="Entities" value="Detect entities" />
            <input type="submit" class="btn btn-primary" asp-page-handler="PII" value="Detect PII" />
            <input type="submit" class="btn btn-primary" asp-page-handler="Language" value="Detect language" />
        </div>
    </form>

    <div class="container">
        <div class="row">
            <div class="col pt-3">
                @Html.Raw(Model.Result)
            </div>
        </div>
    </div>

</div>
