@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<address>
    <strong>Runeet:</strong>   <a href="mailto:runeetv@amazon.com">runeetv@amazon.com</a><br />
    <strong>Tom:</strong> <a href="mailto:mooretom@amazon.com">mooretom@amazon.com</a>
</address>