@inherits LayoutComponentBase

<PageTitle>Event Driven API</PageTitle>

<div class="flex">
    <div class="w-[250px] bg-slate-900 p-6">
        <NavMenu />
    </div>

    <main class="flex flex-col flex-grow">
        <article class="p-4">
            @Body
        </article>
    </main>
</div>