@{
    ViewData["Title"] = "Home Page";
}

<h2>Hostname = @System.Environment.MachineName</h2>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
