@page

<div class="text-center">
    <h1>A very simple CORS demo</h1>
</div>
<br>
<input type="button" value="Call Lambda Function URL" onclick="FetchRemote('https://xxxxxxxxxxxxxxxxxx.lambda-url.us-east-1.on.aws','/', 'GET')"/>

<div>
    <span id='remoteResponse'></span>
</div>
<script src="~/js/site.js"></script>